h1 { 
	text-align:center; 
	font-size:  18px;
	color:black;
	font-family: sans-serif;
}

h2 { 
	font-size: 16px;
	color:blue;
	font-family: monospace; 
	text-align:center; 
}

p { 
	font-size: 14px;
	color:black;
	font-family: monospace; 
	text-align:center; 
}



.Welt {
	width:20px;
	height:20px;
	display: block;
    margin-left: auto;
    margin-right: auto
	
	}


.object{
	display: block;
	width:70%;
	height:450px;
	margin: 0 auto;
    border: 0;
	
	
}

.frame iframe {
 display: block;
    width: 70%;
    height: 400px;
    margin: 0 auto;
    border: 0;
	}
	
.tutoren {
		text-align:center; 
}

.agenda {
		text-align:center; 
}

.dozenten {
		text-align:center; 
}

.impressum {
	font-size: 12px;
	color:black;
	font-family: monospace; 
	text-align:center; 
	margin: 10px
}

h3 { 
	font-size: 15px;
	padding: 5px;
	color:aqua;
	font-family: Helvetica;
	text-align:left; 

}



ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #f1f1f1;
	border: 1px solid #555;
	font-family: Helvetica;
}


li a {
    display: block;
	color: blue;
    padding: 5px 10px;
    text-decoration: none;
	text-align: left;
    border-bottom: 1px solid #555;
}


li a:hover {
    background-color: #555;
    color: white;
}

 a:hover {
    background-color: #555;
    color: blue;
}